
.advantages {
  background: #242424;
}

.advantages__inner {
.container-fluid();
  position: relative;
  padding: 0 44px 83px;
  text-align: center;
}

.advantages__item-title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 12px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  padding-top: 130px;
  font-size: 20px;
  line-height: 27px;

  &::before {
    content: '';
    position: absolute;
    width: 95px;
    height: 95px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--fast::before {
    background: url('../img/advantage-1-illustration.svg') no-repeat;
  }

  &--awesome::before {
    background: url('../img/advantage-2-illustration.svg') no-repeat;
  }

  &--expensive::before {
    background: url('../img/advantage-3-illustration.svg') no-repeat;
  }

}

.advantages__item {
  display: none;
}

.slider__input {
  display: none;
}

.slider__input-1:checked ~ .advantages__list .advantages__item--fast,
.slider__input-2:checked ~ .advantages__list .advantages__item--awesome,
.slider__input-3:checked ~ .advantages__list .advantages__item--expensive {
  display: block;
}

.slider__toggle {
  position: absolute;
  width: 8px;
  height: 8px;
  box-shadow: inset 0 0 0 2px #989898;
  bottom: 45px;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  cursor: pointer;
}

.slider__toggle-1 {
  margin-left: -33px;
}

.slider__toggle-3 {
  margin-left: 33px;
}

.slider__input-1:checked ~ .advantages__toggles .slider__toggle-1,
.slider__input-2:checked ~ .advantages__toggles .slider__toggle-2,
.slider__input-3:checked ~ .advantages__toggles .slider__toggle-3 {
  background: #fff;
}

@media @tablet-widths {

  .advantages {
    background: #353535;
  }

  .advantages__inner {
    padding-top: 20px;
    padding-bottom: 50px;
    background: #353535;

  }

  .advantages__item {
    display: block;
    margin-bottom: 40px;
    margin: 0 30px;
    padding: 0;
    padding-left: 130px;
    padding-right: 7px;
    padding-bottom: 37px;
    text-align: left;
    left: 0;
    transform: translateX(0);

    &::before {
      left: 0;
      transform: translateX(0);
      top: 28px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: #4a4a4a;
    }

    &:last-child::after {
      display: none;
    }

  }

  .advantages__item:last-child {
    margin-bottom: 0;
  }

  .advantages__toggles {
    display: none;
  }

}

@media @desktop-widths {

  .advantages__inner {
    padding-top: 75px;
    padding-bottom: 59px;
  }

  .advantages__list {
    display: table;
    width: 100%;
  }

  .advantages__item {
    display: table-cell;
    width: 240px;
    margin: 0;
    padding: 200px 40px 50px;
    text-align: center;

    &::before {
      top: 78px;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      left: 100%;
      top: 78px;
      bottom: 50px;
      width: 1px;
      height: auto;
    }
  }

  .advantages__item:nth-child(n+2) {
    display: table-cell;
  }

}
