.page-header__logo {
  position: relative;
  height: 85px;
  background: #242424;
}

.page-header__logo img {
  position: absolute;
  width: 226px;
  top: 29px;
  left: 50%;
  transform: translateX(-50%);
}

@media @tablet-widths {

  .page-header {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .page-header__logo {
    order: 2;
    width: 100%;
    height: 400px;
    //background: #000 url('../img/bg-tablet.jpg') 50% no-repeat;
    background-size: cover;
  }

  .page-header__logo--inner {
    height: 213px;
  }

  .page-header__logo img {
    width: 370px;
    top: 39px;
  }

}

@media @desktop-widths {

  .page-header__logo {
    height: 648px;
    background: #000 url('../img/bg-desktop.jpg') 50% no-repeat;
    background-size: cover;
  }

  .page-header__logo--inner {
    height: 307px;
  }

  .page-header__logo img {
    top: 58px;
  }

}
