.page-footer {
  position: relative;
  background: #292929;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 34px;
    top: -34px;
    background-color: #292929;
  }

  &::before {
    clip-path: polygon(0 0, 0 100%, 50% 100%);
  }

  &::after {
    clip-path: polygon(100% 0, 100% 100%, 50% 100%);
  }

}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .page-footer__social,
  .page-footer__contacts,
  .page-footer__copyright {
    width: 100%;
  }

  .page-footer__social,
  .page-footer__contacts {
    padding-bottom: 20px;
  }

  .social-link {
    flex-grow: 0;
  }

  .social-link:first-child {
    margin-left: auto;
  }

  .social-link:last-child {
    margin-right: auto;
  }

  .page-footer__copyright {
    span,
    a {
      display: block;
      text-align: center;
      margin: 0;
    }
  }
}

.page-footer__inner {
  .container-fluid();
  background: #292929;
  color: #fff;
  padding-bottom: 26px;
}

p {
  margin: 0;
}

.page-footer__btn {
  vertical-align:top;
  border: 1px solid #3e3e3e;

  &:hover {
    position: relative;
    z-index: 1;
    border-color: #545454;
  }

  &:active {
    border-color: #252525;
    background: #252525;
    color: rgba(255, 255, 255, .3);
  }

}

.page-footer__contacts {
  position: relative;
  padding: 33px 20px 26px;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background: #353535;
  }
}

.page-footer__contacts-title {
  line-height: 40px;
}

.page-footer__contacts a {
  display: block;
  width: auto;
  height: 50px;
  line-height: 48px;
  margin-top: 15px;
  color: #fff;
  text-decoration: none;
}

.page-footer__contacts-hidden {
  display: none;
}

.page-footer__copyright {
  position: relative;
  text-align: center;
}

.page-footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    text-align: right;
    &:first-child {
      margin-bottom: 10px;
    }
  }
}
.page-footer__copyright span {
  display: inline-block;
  height: 50px;
  line-height: 48px;
}
a.page-footer__copyright-link {
  width: 160px;
  display: inline-block;
  height: 48px;
  line-height: 46px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;
  text-align: center;

  &:hover {
    color: #fff;
  }

}

#github-dev {
  width: 46px;
  height: auto;
  //border: 1px solid #000;
  border-radius: 50%;

}
#github-dev path {
  fill: #fff;
  transition: .2s;
}



@media @tablet-widths {

  .page-footer {
    padding-top: 0;

      &::before,
      &::after {
        display: none;
    }

  }

  .page-footer__inner {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-top: 40px;
    padding-bottom: 59px;

    .page-footer__contacts,
    .page-footer__copyright {
      width: 50%;
      margin-bottom: 20px;
    }

    .page-footer__contacts{
      text-align: left;
    }

    .page-footer__contacts {
      padding: 0;
      order: 1;
      &::before {
        display: none;
      }
    }

    .page-footer__copyright {
      text-align: right;
      order: 2;
      margin-left: auto;
      p {
        margin-left: auto;
      }
      span,
      a  {
        display: inline-block;
      }
      a {
        margin-left: 10px;
      }
    }

    .page-footer__social {
      width: 100%;
      order: 3;
    }
  }

  .page-footer__contacts-title {
    text-transform: uppercase;
  }
  //
  .page-footer__contacts .page-footer__btn {
    border: none;
    pointer-events: none;
  }

}


@media @desktop-widths {

  .page-footer__inner {
    .container-fluid();
    display: flex;
    justify-content: space-between;
    width: auto;
    min-height: 198px;
    padding-bottom: 0;

    .page-footer__contacts,
    .page-footer__social,
    .page-footer__copyright {
      width: 33.33%;
      flex-grow: 0;
    }
    .page-footer__contacts {
      order: 1;
    }
    .page-footer__copyright {
      order: 3;
    }
    .page-footer__social {
      order: 2;
    }
  }

  .page-footer__social .visually-hidden {
    display: block;
    position: static;
    width: auto;
    min-height: 27px;
    margin-bottom: 12px;
    text-align: center;
  }

}
