.reviews {
  padding-bottom: 34px;
  background: @bg-beige;
  color: #000;
}

.reviews__inner {
  .container-fluid();
  position: relative;
  padding: 30px 0 50px;
  min-height: 200px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 28px;
  text-transform: uppercase;
  text-align: center;
}

.reviews__list {
  position: relative;
  padding: 0 20px;
}

.reviews__item {
  position: absolute;
  display: none;
  width: auto;
  margin: 0;
  padding-left: 90px;
  text-overflow: ellipsis;
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}

.slider__input-1:checked ~ .reviews__list .reviews__item-1,
.slider__input-2:checked ~ .reviews__list .reviews__item-2,
.slider__input-3:checked ~ .reviews__list .reviews__item-3 {
  display: block;
}

.slider__input {
  display: none;
}

.reviews .slider__toggle {
  position: absolute;
  width: 8px;
  height: 8px;
  box-shadow: inset 0 0 0 2px #989898;
  bottom: 20px;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);
  cursor: pointer;
}

.slider__toggle-1 {
  margin-left: -33px;
}

.slider__toggle-3 {
  margin-left: 33px;
}

.slider__input-1:checked ~ .reviews__toggles .slider__toggle-1,
.slider__input-2:checked ~ .reviews__toggles .slider__toggle-2,
.slider__input-3:checked ~ .reviews__toggles .slider__toggle-3 {
  background: #000;
}

.reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: bold;
}

.reviews__author-photo {
  position: absolute;
  top: 15px;
  left: 0;
}

.reviews__author-photo img {
  display: block;
  border: 1px solid #e5ddd5;
  background: transparent;
  object-fit: cover;
}

.reviews__item:nth-child(2n) img {
  filter: invert(100%);
}

.reviews__item:nth-child(3n) img {
  filter: saturate(0%);
}

.reviews__write {
  display: none;
}

.reviews__btn {
  display: none;
}


@media @tablet-widths {

  .reviews__inner {
    padding-top: 45px;
    padding-bottom: 71px;
  }

  .reviews__title {
    margin: 0;
    margin-bottom: 45px;
    text-align: left;
  }
  .reviews__list {
    padding: 0;
  }

  .reviews__item {
    position: relative;
    padding: 33px 80px 34px 190px;
    border: 1px solid #e5ddd5;
    width: 100%-100px;
    margin-left: 49px;
    margin-right: 49px;
  }

  .reviews__author-name {
    display: block;
    margin-bottom: 10px;
  }

  .reviews__author-photo,
  .reviews__author-photo:nth-child(2),
  .reviews__author-photo:nth-child(3) {
    position: absolute;
    width: 82px;
    height: 82px;
    left: 80px;
    top: 50%;
    margin-top: -41px;
    background: transparent;
  }

  .reviews__author-photo img,
  .reviews__author-photo:nth-child(2) img,
  .reviews__author-photo:nth-child(3) img {
    border: none;
  }

  .reviews__write {
    position: absolute;
    display: block;
    top: 34px;
    right: 0;
  }

  .reviews .slider__toggles {
    position: absolute;
    width: 126px;
    height: 10px;
    background: @bg-beige;
    bottom: 62px;
    left: 50%;
    transform: translateX(-50%);
  }

  .slider__toggle {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }

  .reviews__btn {
    position: absolute;
    display: block;
    border: none;
    font-size: 0;
    width: 50px;
    height: 160px;
    top: 0;
    cursor: pointer;
    padding: 0;


    &::after {
      content: '';
      position: absolute;
      border: 6px solid transparent;
      top: 50%;
      margin-top: -6px;
      left: 50%;
    }

  }

  .reviews__prev {
    left: 0;

    &::after {
      border-right: 12px solid #000;
      margin-left: -12px;
    }

  }

  .reviews__next {
    right: 0;

    &::after {
      border-left: 12px solid #000;
      margin-left: -6px;
    }

  }

}

@media @desktop-widths {

  .reviews__inner {
    padding-bottom: 98px;
  }

  .reviews__title {
    margin-left: 71px;
  }

  .reviews__item {
    padding-left: 319px;
    margin: 0 71px;
    min-width: 100%-140px;
    margin-left: 70px;
  }

  .reviews .slider__toggles {
    bottom: 40px;
  }

  .reviews__author-photo {
    position: absolute;
    width: 250px;
    height: 160px;
    left: 0;
    top: 42px;
    background: transparent;

    & img {
      position: absolute;
      left: 0;
      top: -2px;
      max-width: 100%;
      height: auto;
    }

  }

}
