.scroll-top {
  position: fixed;
  bottom: 25px;
  right: -100px;
  width: 50px;
  height: 50px;
  border-radius: 10em;
  color: #666;
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all .3s ease;
  opacity: .5;
  background-color: #eee;
  z-index: 22;
  &:hover {
    color: #fff;
    background-color: #ccc;
    opacity: 1;
  }
  &--active {
    right: 25px;
  }
}
