.social-links {
  display: flex;
  width: auto;
  max-width: 100%;
  margin-right: -1px;
  font-size: 0;
}

.social-link {
  position: relative;
  flex-grow: 1;
  font-size: 18px;
  vertical-align:top;
  width: auto;
  height: 101px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align:top;
  border: 1px solid #3e3e3e;
  margin-left: -1px;

  &:hover {
    position: relative;
    border-color: #545454;
  }

  &:active {
    border-color: #252525;
    background: #252525;
    color: rgba(255, 255, 255, .3);
  }

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/sprite.png') no-repeat;
  }

  &:active::after {
    opacity: .3;
  }

  &--fb::after {
    background-position: 0 -5px;
  }

  &--in::after {
    background-position: -8px -100px;
  }

  &--vk::after {
    background-position: 0 -300px;
  }

}

.social-link:last-child {
  // border-right: none;
}


@media @tablet-widths {

  .social-link {

    &--fb::after {
      background-position: 5px -5px;
    }

    &--in::after {
      background-position: -6px -100px;
    }

    &--vk::after {
      background-position: 2px -300px;
    }
  }

}


@media @desktop-widths {

  .social-link {
    width: 48px;
    height: 48px;
    margin-right: 6px;

    &:last-child {
      margin-right: 0;
    }

    &--fb::after {
      background-position: 5px -54px;
    }

    &--in::after {
      background-position: 1px -149px;
    }

    &--vk::after {
      background-position: 2px -342px;
    }

  }

}
